    html {
        width: 320px;
        height: 212px;
        background-color: rgb(8, 8, 36);
        color: white;
    }
    
    header {
        display: flex;
        background-color: rgb(77, 77, 255);
        margin: 0;
        div {
            margin: 2px;
            flex-grow: 4;
            text-align: center;
            a {
                color: white;
            }
        }
    }
    
    main {
        a {
            color: greenyellow;
        }
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            td {
                border-color: white;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
                background: grey;
            }
            th {
                border-color: white;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
                background: grey;
            }
            .tg-0lax {
                text-align: center;
                vertical-align: center;
                a {
                    color: yellow;
                }
            }
        }
        h2 {
            text-align: center;
        }
        blockquote {
            border-left: dotted yellow 2px;
            padding-left: 5px;
            &::before {
                content: '"[...]';
                color: yellow;
                font-weight: bold;
            }
            &::after {
                content: '[...]"';
                color: yellow;
                font-weight: bold;
            }
        }
    }